# Byte-compiled / optimized Python files
dog_cat_classifier/classifier/__pycache__
*.py[cod]

# Caches and logs
*.cache
*.log

# Virtual environment
venv/
.env

dog_cat_classifier/db.sqlite3

# Static files (generated during development)
/staticfiles/

# Media files (user-uploaded content)
/media/

# Local settings file
local_settings.py

# IDE files
.vscode/
*.idea/

# Dependency directories
node_modules/
bower_components/

# Compiled Python bytecode
*.pyc

# macOS
.DS_Store
dog_cat_classifier/classifier/migrations